@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');@import "tailwindcss";

@theme {
  --color-mybeige: #fff8eb;
  --color-mydarkgreen: #1b6c30;
  --color-mylightgreen: #fff8eb;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--color-mybeige);
}

::selection {
    background-color: var(--color-mydarkgreen);
    color: var(--color-mybeige);
}

::-moz-selection {
    background-color: var(--color-mydarkgreen);
    color: var(--color-mybeige);
}

h1 {
  font-weight: 500;
  @apply text-7xl leading-24;
}

h2 {
  font-weight: 500;
  @apply text-5xl leading-16;
}

h3, a {
    font-weight: 400;
    @apply text-2xl leading-10;
}

h4 {
  font-weight: 400;
  @apply text-3xl leading-10;
}

p {
  font-weight: 400;
  @apply text-xl leading-8;
}

span {
    font-family: "Lora", serif;
    font-weight: 600;
    @apply italic;
}

/* img plus grande */
.ble {
  background-image: url(../assets/img/ble.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* diminuer lespace dans photoshop */
.herosec {
  background-image: url(../assets/img/framboise.png);
  background-position: bottom left;
  background-size: 60%;
  mix-blend-mode: darken;
  background-repeat: no-repeat;
}

.bruit {
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: hard-light;
    z-index: 100;
    opacity: 0.4;
}